.App {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 20px;
}

button {
  height: 50px;
  width: 100px;
  border-radius: 50px;
  border: 1px solid black;
}

button:hover {
  border: 1px solid blue;
}

.pause:hover {
  border: 1px solid yellow;
}

.reset:hover {
  border: 1px solid red;
}




